---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedScribbles: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedScribbles } = Astro.props;
---

<Layout title={`Scribbles | ${SITE.title}`}>
  <Header activeNav="scribbles" />
  <Main pageTitle="Scribbles" pageDesc="All the scribbles I refer to:">
    <ul>
      {
        paginatedScribbles.map(({ data, slug }) => (
          <Card href={`/scribbles/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/scribbles${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/scribbles/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
